*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 100px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 0 50px 30px rgb(16, 16, 97);
}

.main {
    background: linear-gradient(45deg,black,purple);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}